In [1]:
import pandas as pd

# Load the schools_complete file into a data frame
schools_df = pd.read_csv('C:/Users/CDiFa/OneDrive/Uni - Data Analytics/Module 4/Attempt 3/PyCitySchools/Resources/schools_complete.csv')

# Load the students_complete file into a data frame
students_df = pd.read_csv('C:/Users/CDiFa/OneDrive/Uni - Data Analytics/Module 4/Attempt 3/PyCitySchools/Resources/students_complete.csv')

In [10]:
# Calculate the total number of unique schools
total_schools = schools_df['School ID'].nunique()

# Calculate the total number of students
total_students = students_df['Student ID'].nunique()

# Calculate the total budget
total_budget = schools_df['budget'].sum()

# Calculate the average maths score
avg_math_score = students_df['maths_score'].mean()

# Calculate the average reading score
avg_reading_score = students_df['reading_score'].mean()

# Calculate the percentage of students who passed maths
students_df['pass_math'] = students_df['maths_score'] >= 70
perc_pass_math = students_df['pass_math'].mean() * 100

# Calculate the percentage of students who passed reading
students_df['pass_reading'] = students_df['reading_score'] >= 70
perc_pass_reading = students_df['pass_reading'].mean() * 100

# Calculate the percentage of students who passed both maths and reading
students_df['pass_both'] = (students_df['maths_score'] >= 70) & (students_df['reading_score'] >= 70)
perc_pass_both = students_df['pass_both'].mean() * 100

# Create a new dataframe for the above calculations
area_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [perc_pass_math],
    '% Passing Reading': [perc_pass_reading],
    '% Overall Passing': [perc_pass_both]
})

display(area_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,51.460301,50.814399,26.316058

In [14]:
# Calculate the school type
per_school_types = schools_df.set_index(['school_name'])['type']

# Calculate the total student count
per_school_counts = students_df['school_name'].value_counts()

# Calculate the per capita spending
per_school_budget = schools_df.set_index(['school_name'])['budget']
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores
per_school_math = students_df.groupby(['school_name'])['maths_score'].mean()
per_school_reading = students_df.groupby(['school_name'])['reading_score'].mean()

# Calculate the number of schools with maths scores of 50 or higher
passing_math = students_df[students_df['maths_score'] >= 50]
per_school_passing_math = passing_math.groupby(['school_name'])['Student ID'].count() / per_school_counts * 100

# Calculate the number of schools with reading scores of 50 or higher
passing_reading = students_df[students_df['reading_score'] >= 50]
per_school_passing_reading = passing_reading.groupby(['school_name'])['Student ID'].count() / per_school_counts * 100

# Calculate the schools that passed both maths and reading with scores of 50 or higher
overall_passing = students_df[(students_df['maths_score'] >= 50) & (students_df['reading_score'] >= 50)]
per_school_passing_overall = overall_passing.groupby(['school_name'])['Student ID'].count() / per_school_counts * 100

# Create a new dataframe for the above calculations
per_school_summary = pd.DataFrame({
    'School Type': per_school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': per_school_passing_overall
})

display(per_school_summary)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [4]:
# sort the dataframe by % Overall Passing in descending order
top_performing_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# select the top 5 schools
top_performing_schools = top_performing_schools.head(5)

# display the top performing schools
print(top_performing_schools)

                       School Type  Total Students  Total School Budget  \
Griffin High School    Independent            1468               917500
Cabrera High School    Independent            1858              1081356
Bailey High School      Government            4976              3124928
Wright High School     Independent            1800              1049400
Rodriguez High School   Government            3999              2547363

                       Per Student Budget  Average Math Score  \
Griffin High School                 625.0           71.788147
Cabrera High School                 582.0           71.657158
Bailey High School                  628.0           72.352894
Wright High School                  583.0           72.047222
Rodriguez High School               637.0           72.047762

                       Average Reading Score  % Passing Math  \
Griffin High School                71.245232       91.212534
Cabrera High School                71.359526       90.850377
Bailey High School                 71.008842       91.639871
Wright High School                 70.969444       91.777778
Rodriguez High School              70.935984       90.797699

                       % Passing Reading  % Overall Passing
Griffin High School            88.487738          81.335150
Cabrera High School            89.074273          80.785791
Bailey High School             87.379421          80.084405
Wright High School             86.666667          79.722222
Rodriguez High School          87.396849          79.419855

In [5]:
# sort the dataframe by % Overall Passing in ascending order
bottom_performing_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)

# select the bottom 5 schools
bottom_performing_schools = bottom_performing_schools.head(5)

# display the bottom performing schools
print(bottom_performing_schools)

                       School Type  Total Students  Total School Budget  \
Hernandez High School   Government            4635              3022020
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Wilson High School     Independent            2283              1319574
Ford High School        Government            2739              1763916

                       Per Student Budget  Average Math Score  \
Hernandez High School               652.0           68.874865
Huang High School                   655.0           68.935207
Johnson High School                 650.0           68.843100
Wilson High School                  578.0           69.170828
Ford High School                    644.0           69.091274

                       Average Reading Score  % Passing Math  \
Hernandez High School              69.186408       80.949299
Huang High School                  68.910525       81.693521
Johnson High School                69.039277       82.062592
Wilson High School                 68.876916       82.785808
Ford High School                   69.572472       82.438846

                       % Passing Reading  % Overall Passing
Hernandez High School          81.877023          66.364617
Huang High School              81.453548          66.712376
Johnson High School            81.978576          67.191766
Wilson High School             81.296540          67.455103
Ford High School               82.219788          67.469880

In [ ]:
math score

In [ ]:
reading score

In [9]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]
# Categorize the spending based on the bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
# Assemble into data frame
spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": overall_passing})
# Minor data munging
spending_summary = spending_summary[["Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math", "% Passing Reading",
                                     "% Overall Passing"]]
spending_summary["Average Math Score"]=spending_summary["Average Math Score"].map("{:,.2f}".format)
spending_summary["Average Reading Score"]=spending_summary["Average Reading Score"].map("{:,.2f}".format)
spending_summary["% Passing Math"]=spending_summary["% Passing Math"].map("{:,.2f}".format)
spending_summary["% Passing Reading"]=spending_summary["% Passing Reading"].map("{:,.2f}".format)
spending_summary["% Overall Passing"]=spending_summary["% Overall Passing"].map("{:,.2f}".format)
# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

In [11]:
# Establish the bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names)
# Calculate the scores based on bins
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()
# Assemble into data frame
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": overall_passing})
# Minor data munging
size_summary = size_summary[["Average Math Score",
                             "Average Reading Score",
                             "% Passing Math", "% Passing Reading",
                             "% Overall Passing"]]
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [13]:
# Establish the bins
size_bins = [Government, Independent]
group_names = ["Government", "Independent"]
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names)
# Calculate the scores based on bins
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()
# Assemble into data frame
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": overall_passing})
# Minor data munging
size_summary = size_summary[["Average Math Score",
                             "Average Reading Score",
                             "% Passing Math", "% Passing Reading",
                             "% Overall Passing"]]
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,NaN,NaN,NaN,NaN,NaN
Independent,NaN,NaN,NaN,NaN,NaN

In [ ]:
Scores by School Type

In [15]:
Summarises the analysis (5 points)

Your chance of scoring higher and passing is with an independent school.  3 of the top 5 schools are independent where as 3 of the bottom 5 were government schools. 

The difference between the best independent school and the worst government school is 15%.

Attending Griffin High School is the best school in our data set with the highest overall passing percentage with 81%. They hold the highest score for reading and 3rd highest in math scores. 
2.


Spending more money doesnt correlate to recieving a higher score in maths or reading. The best value for education in relation to scores vs dollars spend is the $585-630 range. This cateogry scored higher in ever category.

Small schools where under 1000 students attend is the best chance to schore well in maths and reading. attending one of these schools will increase your chances of passing by 1% vs Medium and 9% vs Large schools. 



Draws two correct conclusions or comparisons from the calculations
Spending more money doesnt correlate to recieving a higher score in maths or reading. The best value for education in relation to scores vs dollars spend is the $585-630 range. This cateogry scored higher in ever category.

Small schools where under 1000 students attend is the best chance to schore well in maths and reading. attending one of these schools will increase your chances of passing by 1% vs Medium and 9% vs Large schools.

SyntaxError: invalid decimal literal (2396222803.py, line 7)